.examples {
    margin: auto;
    list-style-type: none;
    padding: 0;
    width: 80%;
    text-align: center;
  }

  .examples li {
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    line-height: 1.6em;
    border-radius: 4px;
  }
  .examples li:hover {
    color: #607D8B;
    background-color: #DDD;
  }

  .examples li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .examples li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }